@model IEnumerable<AStore_Web.Models.Product>

<section class="section">
	<div class="section-header">
		<h1>Product</h1>
	</div>
	<div class="section-body">
		<div class="row">
			<div class="col-12">
				<div class="card">
					<div class="card-header">
						<h4>All Products</h4>
						<div class="card-header-action">
							<a href="@Url.Action("Create", "ProductAdmin")" class="btn btn-primary"><i class="fas fa-plus"></i> Create New</a>
						</div>
					</div>
					<div class="card-body">
						<table id="productTable" class="table table-bordered">
							<thead>
								<tr>
									<th>ID</th>
									<th>Name</th>
									<th>Price</th>
									<th>Status</th>
									<th>Actions</th>
								</tr>
							</thead>
							<tbody>
								@foreach (var product in Model)
								{
									<tr>
										<td>@product.Id</td>
										<td>@product.Name</td>
										<td>@product.Price</td>
										<td>
											<input type="checkbox" class="change-status" data-id="@product.Id"
											@(product.Status == 1 ? "checked" : "") />
										</td>
										<td>
											<a href="@Url.Action("Edit", "ProductAdmin", new { id = product.Id })" class="btn btn-warning"><i class="far fa-edit"></i>Edit</a>
											<a href="@Url.Action("Delete", "ProductAdmin", new { id = product.Id })" class="btn btn-danger delete-item"><i class="far fa-trash-alt"></i>Delete</a>
										</td>
									</tr>
								}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

@section Scripts {
	<script>
		$(document).ready(function () {
			$('body').on('click', '.change-status', function () {
				let isChecked = $(this).is(':checked');
				let id = $(this).data('id');

				$.ajax({
					url: '@Url.Action("ChangeStatus", "ProductAdmin")/' + id,
					method: 'PUT',
					contentType: 'application/json',
					data: JSON.stringify({ id: id, status: isChecked ? 1 : 0 }),
					success: function (data) {
						toastr.success('Change Status Successful!');
					},
					error: function (xhr, status, error) {
						toastr.error('Change Status Failed!');
					}
				});
			});
		});
	</script>
}


